primeraclase.R
Tutorial_Rstudio.pdf
Valor_cobre.csv
Clases/IMA306_C1.pdf
Clases/IMA306_C3.pdf
Clases/IMA306_C4.pdf
Clases/IMA306_C5.pdf
Clases/IMA306_C6.pdf
Clases/IMA306_C7.pdf
Clases/IMA306_C8.pdf
Tarea 1/data1.txt
Tarea 1/IMA306_Tarea1.pdf
